.link__read-more {
    font-size: 13px;
    line-height: 16px;
    text-align: center;    
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;      
}

.link__app-store {
   width: 180px; 
   background-image: url(./assets/img/App_Store_icon.svg);
}

.link__google-play {
    width: 180px; 
    background-image: url(./assets/img/Google_Play_icon.svg);
}



