.link {

    &__view-project {
        font-size: 13px;
        line-height: 16px;
        text-align: center;    
        letter-spacing: 1.25px;
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;  
    }    
    
    // &__icon {

    // }        
}