$height: 2.8em;
$width_10: 10em;
$width_18: 18em;
$width_15: 15em;
$button-color: #5b97ea;

@mixin center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.button {
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  &--main {
    @include center;
    border: 1px solid $button-color;
    border-radius: 24px;
    height: $height;
    width: $width_10;
    padding: 0;
    outline: none;
    overflow: hidden;
    color: $button-color;
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
    line-height: 250%;
    font-size: 30px;
    z-index: 0;

    &::before {
      @include center;
      content: "";
      border-radius: 50%;
      display: block;
      width: $width_10 * 2;
      height: $width_10 * 2;
      line-height: $width_10 * 2;
      left: -$width_10/2;
      text-align: center;
      transition: box-shadow 0.5s ease-out;
      z-index: -1;
    }

    &:hover {
      color: #fff;

      &::before {
        box-shadow: inset 0 0 0 $width_10 rgba($button-color, 1);
      }
    }

    &-about-upper,
    &-about-lower {
      width: $width_18;

      &::before {        
        width: $width_18 * 2;
        height: $width_18 * 2;
        line-height: $width_18 * 2;
        left: -$width_18/2;
      }
      
      &:hover::before {
          box-shadow: inset 0 0 0 $width_18 rgba($button-color, 1);
        }  
    }
            
    &-about-upper {
      margin-left: 0;
    }  

    &-about-lower {
      margin-right: 0;
    }       



    @mixin button-blue-animated($local_width) {
      width: $local_width;
      background: #fff;
      font-size: 20px;
      font-weight: bold;
      border: 3px solid #5b97ea;

      &::before {        
        width: $local_width * 2;
        height: $local_width * 2;
        line-height: $local_width * 2;
        left: -$local_width/2;
      }
      
      &:hover::before {
          box-shadow: inset 0 0 0 $local_width rgba($button-color, 1);
        }
    }

    &-works-ads {
      @include button-blue-animated(18em);
    }

    &-works-design {     
      @include button-blue-animated(15em);
    }

    &-works-polygraphy {    
      @include button-blue-animated(22em);
    }

    &-works-sites {       
      @include button-blue-animated(26em);
    }


  }

  &--portfolio {
    margin-top: 20px;
    padding: 30px;
    text-align: center;

    font-size: 20px;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 40px;
    background-image: linear-gradient(to right, #e89a59 0%, #99238b 51%, #f6d365 100%);

    &:hover {
      background-position: right center;
    }
  }
}
