.info {
    max-width: 1260px;
    color: #fff;

    &--title {
        max-width: 739px;
        margin-top: 180px;
        color: #ff8791;
        font-size: 38px;
        font-weight: bold;
    }

    &--list {
        font-size: 23px;
        transform: scaleY(0.8);

        & ul { 
            list-style-type: none;
            padding-inline-start: 0;
        }
    }

    &--slogan {
        // max-width: 390px;
        margin-top: 100px;
        margin-right: 0;
        margin-left: auto;
        font-size: 17px;
        font-weight: bold;
        text-align: end;
        text-transform: uppercase;
        transform: scaleY(0.8);
    }
}