.link {
    position: relative;
    display: inline-block;
    color: #9754a9;
    text-decoration: none;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        width: 0;
        border-bottom: 2px solid #fff;
        color: #fff;
        content: attr(data-hover);
        transition: width 0.5s;
        white-space: nowrap;
    }

    &:hover::before,
    &:focus::before  {
        width: 100%;
    }


   
}