.main {    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    background: radial-gradient(at center, #8b3b69, #20184c);

    &__button {
        position: relative;
        margin-top: 55px;
        width: 10em;
        height: 2.8em;
    }

    &__header {
        display: flex;        
        padding-top: 30px;
    }

    &__info {
        max-width: 1260px;
        margin: 0 auto;
    }

    &__slider {
       width: 1300px;
       height: 540px; 
       margin-top: 58px;
       margin-left: auto;
       margin-right: auto; 
       outline: 1px solid #080;   
       position: relative;          
    }

}    

    