.works {
    background:#fff;
    border-radius: 10px;
    padding: 10px 30px;

    &__cards {
        margin-top: 50px;
        display: grid;
        grid-template-areas:"design sites"
                            "design sites"
                            "polygraphy sites"
                            "polygraphy ads"
                            "polygraphy ads";

        gap: 30px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, 1fr);  

        font-family: 'Play', sans-serif;
        font-size: 22px;
        color: rgb(255, 145, 0);

        & h1 {
            font-size: 30px;                
            color: rgb(0, 162, 255);
            text-transform: uppercase;
        }   
    }

    &--design {
        grid-area: design;   
    }

    &--sites {
        grid-area: sites;    
    }

    &--polygraphy {
        grid-area: polygraphy;
    }

    &--ads {
        grid-area: ads;
    }

    
    &__title {
        grid-area: title;  
        font-family: 'Play', sans-serif;
        // font-family: 'Russo One', sans-serif;          
        text-align: center;
        font-size: 37px;
        text-decoration: underline;
        // letter-spacing: 2px;
        color: #fff;
    }


}